*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	overflow-x: hidden;
}
.container
{
	padding: 0 60px;
}
.container header
{
	display: flex;
	justify-content: center;
}
.container header img
{
	width: 100%;
}
.container .section
{
	background: #f3f3f3;
}

@media (max-width: 1200px)
{
	.container
	{
		padding: 0 40px;
	}
}