@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}
header
{
	display: flex;
	justify-content: center;
}
header img
{
	width: 100%;
}
.section
{
	display: flex;
	gap: 40px;
	background: #f3f3f3;
	padding: 0 60px;
}
.section .main
{
	flex: 1;
}
.section h2
{
	color: #1a1a1a;
}
.section .main img
{
	width: 100%;
}
.section .aside
{
	width: 400px;
}

@media (max-width: 1200px)
{

}