*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	overflow-x: hidden;
}
.container
{
	width: 1200px;
	padding: 0 60px;
	margin: 0 auto;
}
.container header
{
	display: flex;
	justify-content: center;
}
.container header img
{
	width: 100%;
}

@media (max-width: 1200px)
{
	.container
	{
		width: 100%;
	}
}